TamagotchiService/UnitTests/Service References/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpsBinding_IService1_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://tamagotchineu.azurewebsites.net/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://tamagotchineu.azurewebsites.net/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://tamagotchineu.azurewebsites.net/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TamagotchiDomain" />
      <xsd:import schemaLocation="http://tamagotchineu.azurewebsites.net/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/TamoService" />
      <xsd:import schemaLocation="http://tamagotchineu.azurewebsites.net/Service1.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_InitTimer_InputMessage">
    <wsdl:part name="parameters" element="tns:InitTimer" />
  </wsdl:message>
  <wsdl:message name="IService1_InitTimer_OutputMessage">
    <wsdl:part name="parameters" element="tns:InitTimerResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddTamagotchi_InputMessage">
    <wsdl:part name="parameters" element="tns:AddTamagotchi" />
  </wsdl:message>
  <wsdl:message name="IService1_AddTamagotchi_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddTamagotchiResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetTamagotchi_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTamagotchi" />
  </wsdl:message>
  <wsdl:message name="IService1_GetTamagotchi_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTamagotchiResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_EditTamagotchi_InputMessage">
    <wsdl:part name="parameters" element="tns:EditTamagotchi" />
  </wsdl:message>
  <wsdl:message name="IService1_EditTamagotchi_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditTamagotchiResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetTamagotchis_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTamagotchis" />
  </wsdl:message>
  <wsdl:message name="IService1_GetTamagotchis_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTamagotchisResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStatus" />
  </wsdl:message>
  <wsdl:message name="IService1_GetStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_PerformAction_InputMessage">
    <wsdl:part name="parameters" element="tns:PerformAction" />
  </wsdl:message>
  <wsdl:message name="IService1_PerformAction_OutputMessage">
    <wsdl:part name="parameters" element="tns:PerformActionResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetRuleArray_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRuleArray" />
  </wsdl:message>
  <wsdl:message name="IService1_GetRuleArray_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRuleArrayResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CreateGameRules_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateGameRules" />
  </wsdl:message>
  <wsdl:message name="IService1_CreateGameRules_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateGameRulesResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="InitTimer">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/InitTimer" message="tns:IService1_InitTimer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/InitTimerResponse" message="tns:IService1_InitTimer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddTamagotchi">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddTamagotchi" message="tns:IService1_AddTamagotchi_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddTamagotchiResponse" message="tns:IService1_AddTamagotchi_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTamagotchi">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetTamagotchi" message="tns:IService1_GetTamagotchi_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetTamagotchiResponse" message="tns:IService1_GetTamagotchi_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditTamagotchi">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/EditTamagotchi" message="tns:IService1_EditTamagotchi_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/EditTamagotchiResponse" message="tns:IService1_EditTamagotchi_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTamagotchis">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetTamagotchis" message="tns:IService1_GetTamagotchis_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetTamagotchisResponse" message="tns:IService1_GetTamagotchis_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetStatus" message="tns:IService1_GetStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetStatusResponse" message="tns:IService1_GetStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PerformAction">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/PerformAction" message="tns:IService1_PerformAction_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/PerformActionResponse" message="tns:IService1_PerformAction_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRuleArray">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetRuleArray" message="tns:IService1_GetRuleArray_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetRuleArrayResponse" message="tns:IService1_GetRuleArray_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateGameRules">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CreateGameRules" message="tns:IService1_CreateGameRules_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CreateGameRulesResponse" message="tns:IService1_CreateGameRules_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InitTimer">
      <soap:operation soapAction="http://tempuri.org/IService1/InitTimer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddTamagotchi">
      <soap:operation soapAction="http://tempuri.org/IService1/AddTamagotchi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTamagotchi">
      <soap:operation soapAction="http://tempuri.org/IService1/GetTamagotchi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditTamagotchi">
      <soap:operation soapAction="http://tempuri.org/IService1/EditTamagotchi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTamagotchis">
      <soap:operation soapAction="http://tempuri.org/IService1/GetTamagotchis" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStatus">
      <soap:operation soapAction="http://tempuri.org/IService1/GetStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PerformAction">
      <soap:operation soapAction="http://tempuri.org/IService1/PerformAction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRuleArray">
      <soap:operation soapAction="http://tempuri.org/IService1/GetRuleArray" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateGameRules">
      <soap:operation soapAction="http://tempuri.org/IService1/CreateGameRules" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpsBinding_IService1" type="tns:IService1">
    <wsp:PolicyReference URI="#BasicHttpsBinding_IService1_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InitTimer">
      <soap:operation soapAction="http://tempuri.org/IService1/InitTimer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddTamagotchi">
      <soap:operation soapAction="http://tempuri.org/IService1/AddTamagotchi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTamagotchi">
      <soap:operation soapAction="http://tempuri.org/IService1/GetTamagotchi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditTamagotchi">
      <soap:operation soapAction="http://tempuri.org/IService1/EditTamagotchi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTamagotchis">
      <soap:operation soapAction="http://tempuri.org/IService1/GetTamagotchis" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStatus">
      <soap:operation soapAction="http://tempuri.org/IService1/GetStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PerformAction">
      <soap:operation soapAction="http://tempuri.org/IService1/PerformAction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRuleArray">
      <soap:operation soapAction="http://tempuri.org/IService1/GetRuleArray" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateGameRules">
      <soap:operation soapAction="http://tempuri.org/IService1/CreateGameRules" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://tamagotchineu.azurewebsites.net/Service1.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpsBinding_IService1" binding="tns:BasicHttpsBinding_IService1">
      <soap:address location="https://tamagotchineu.azurewebsites.net/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>