TamagotchiService/UnitTests/Service References/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TamoService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TamoService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Tamagotchi">
    <xs:sequence>
      <xs:element minOccurs="0" name="Crazy" type="xs:boolean" />
      <xs:element minOccurs="0" name="Gezondheid" type="xs:int" />
      <xs:element minOccurs="0" name="Honger" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Leeftijd" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Munchies" type="xs:boolean" />
      <xs:element minOccurs="0" name="Naam" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Slaap" type="xs:int" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Verveling" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Tamagotchi" nillable="true" type="tns:Tamagotchi" />
  <xs:complexType name="ArrayOfTamagotchi">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Tamagotchi" nillable="true" type="tns:Tamagotchi" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTamagotchi" nillable="true" type="tns:ArrayOfTamagotchi" />
</xs:schema>